@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?2uo9b2');
    src:  url('../fonts/icomoon.eot?2uo9b2#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?2uo9b2') format('truetype'),
      url('../fonts/icomoon.woff?2uo9b2') format('woff'),
      url('../fonts/icomoon.svg?2uo9b2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-wheniwork:before {
    content: "\e900";
    color: #51a33d;
}
.icon-webpack:before {
    content: "\e902";
    color: #8dd6f9;
}
.icon-nextdoor:before {
    content: "\e903";
    color: #00b246;
}
.icon-mail-dot-ru:before {
    content: "\e904";
    color: #168de2;
}
.icon-about-dot-me:before {
    content: "\e905";
    color: #00a98f;
}
.icon-equalizer:before {
    content: "\e906";
}
.icon-settings:before {
    content: "\e906";
}
.icon-options:before {
    content: "\e906";
}
.icon-menu:before {
    content: "\e907";
}
.icon-list:before {
    content: "\e907";
}
.icon-options1:before {
    content: "\e907";
}
.icon-lines:before {
    content: "\e907";
}
.icon-hamburger:before {
    content: "\e907";
}
.icon-github:before {
    content: "\e908";
}
.icon-brand:before {
    content: "\e908";
}
.icon-octacat:before {
    content: "\e908";
}
.icon-social:before {
    content: "\e908";
}
.icon-twitter:before {
    content: "\e909";
}
.icon-brand1:before {
    content: "\e909";
}
.icon-tweet:before {
    content: "\e909";
}
.icon-social1:before {
    content: "\e909";
}
.icon-linkedin:before {
    content: "\e90a";
}
.icon-brand2:before {
    content: "\e90a";
}
.icon-social2:before {
    content: "\e90a";
}
.icon-instagram:before {
    content: "\e90b";
}
.icon-brand3:before {
    content: "\e90b";
}
.icon-social3:before {
    content: "\e90b";
}
.icon-facebook:before {
    content: "\e90c";
}
.icon-brand4:before {
    content: "\e90c";
}
.icon-social4:before {
    content: "\e90c";
}
.icon-settings1:before {
    content: "\e901";
}
body, html{
    width: 100%;
    height: 100% !important;
    margin: 0;
    position: relative;
    background: black;
}
.header{
    width: 100vw;
    background: rgba(18, 18, 18, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    position: fixed;
    z-index: 10;
}
.name-home{
    text-decoration: none;
    color: #d3d3d3;
    margin: 0;
    margin-left: 50px;
    font-family: 'Exo 2', sans-serif;
    font-size: 2em;
}
.name-home:hover{
    color: white;
}
.social{
      display: flex;
      margin-right: 2%;
}
.social-link{
    margin: 10px;
    font-size: 35px;
    text-decoration: none;
    color: #d3d3d3;	
}
.social-link.linkedin{
    font-size: 30px;
    margin-top: 3px;
    display: flex;
}
.social-link:hover{
    color: white;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
::-webkit-scrollbar {
    display: none;
}
.home{
    position: relative;
    background-image: url('../images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.poem{
	width: 400px;
	height: 57%;
	background: rgba(18, 18, 18, .1);
	border-radius: 12px;
	padding: 10px;
    position: absolute;
    top: 80px;
    left: 60px;
	font-family: 'Exo 2', sans-serif;
	overflow-y: scroll;
}
.poem br,
.poem p{
	margin: 0;
}
.poem h2{
	margin-top: 5px;
}
.aboutme{
    position: relative;
    background-image: url('../images/1aboutme.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.about{
	width: 30%;
	position: absolute;
	z-index: 4;
	top: 20%;
	right: 5%;
	background: rgba(211, 211, 211, .3);
	border-radius: 12px;
	padding: 10px;
	margin-left: 60px;
	font-family: 'Exo 2', sans-serif;
	overflow-y: scroll;
}
.about h2{
	margin: 0;
	margin-left: 10px;
	color: black;
}
.about p{ 
	color: black;
	font-size: 3;
}
.image-avatar{
    position: absolute;
    top: 20%;
    left: 8%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.photograp{
    height:100%;
    width: 50%;
	display: flex;
	position: absolute;
	right: 0;
	top: 10%;
}
.image-g{
	position: relative;
	width: 250px;
	height: 320px;
	border: 1px solid gray;
	background: white;
}
.image-container-top{
    top: 10%;
    right: 0%;
	z-index: 2;
    /*-webkit-*/transform-origin: 50% 50%;
	transform: rotate(-30deg);
}
.image{
	width: 92%;
	height: 80%;
	margin: 10px;
}
.image-container-mid{
    top: 10%;
    right: 35%;
	z-index:1;
	/*-webkit-*/transform-origin: 50% 50%;
	transform: rotate(-45deg); 
}
.image-fond{
	height: 80%;
	margin: 10px;
	padding-bottom: -30px;
	background: black;
}
.experience{
    position: relative;
    background-image: url('../images/skills.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.portfolio{
    position: relative;
    background-image: url('../images/portfolio.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    box-sizing: border-box;
}
.portfolioContainer{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 65%;
	padding: 10px;
    position: absolute;
    top: 11%;
	overflow-y: scroll;
}
.item{
	margin: 5px;
	width: 20%;
	height: 60%;
	border-radius: 5%;
	background: rgba(18, 18, 18, .2);
}
.link-webone,
.link-webtwo,
.link-webthree,
.link-webfour,
.link-webfive,
.link-websix,
.link-webseven,
.link-webeight,
.link-webnine,
.link-webten,
.link-webtenone,
.link-webtentwo{
	display: none;
	width: 100%;
	height: 100%;
	border-radius: 5%;
	background: rgba(18, 18, 18, .9);	
}
.contact{
    position: relative;
    background-image: url('../images/contact_SP.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.create{
	display: flex;
	position: relative;
	top: 100px;
	left: 20px;
	font-size: 25px;
}
.create h1{
	background: rgba(38, 38, 38, .5);
	font-family: 'Exo 2', sans-serif;
    color: #d3d3d3;
    font-size: 1.7em;
}
.form{
    position: absolute;
    width: 50%;
	top: 10%;
	right: 5%;	
}
.form-consulta {
	max-width: 100%; 
	background: #eee; 
	padding: 25px;
	padding-top: 20px;
	font-family: 'Exo 2', sans-serif;
	background: rgba(38, 38, 38, .5);
	color: #d3d3d3;
}
.campo-form {
	display: block;
	width:100%; 
	height:36px; 
	margin:2px 0 6px; 
	padding-left:6px; 
	box-sizing: border-box; 
	border-radius:3px; 
	border:0;
	font-family: 'Exo 2', sans-serif;
	font-size:1em;
}
label span {	
	color: #f00
}
textarea {
	min-height: 150px!important;
}
.btn-form {
	display: inline-block; 
	border:0; 
	background: #444;
	height: 46px; 
	line-height: 46px; 
	padding: 0 20px; 
	border-radius: 6px; 
	color:#fff; 
	text-decoration: none; 
	text-transform: uppercase;
	font-family: 'Exo 2', sans-serif;
	letter-spacing: 1px;
}
.btn-form:hover {
	background: black;
	color: white;
}
@supports (display:grid){
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-rows: 100% 100% 100% 100% 100%;
    grid-template-areas: "home"
                         "aboutme"
                         "experience"
                         "portfolio"
                         "contact";
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
::-webkit-scrollbar {
    display: none;
}
.home{
    position: relative;
    grid-area: "home";
    background-image: url('../images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.poem{
	width: 400px;
	height: 57%;
	background: rgba(18, 18, 18, .1);
	border-radius: 12px;
	padding: 10px;
    position: absolute;
    top: 80px;
    left: 60px;
	font-family: 'Exo 2', sans-serif;
	overflow-y: scroll;
}
.poem br,
.poem p{
	margin: 0;
}
.poem h2{
	margin-top: 5px;
}
.aboutme{
    position: relative;
    grid-area: "aboutme";
    background-image: url('../images/1aboutme.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.about{
	width: 30%;
	position: absolute;
	z-index: 4;
	top: 20%;
	right: 5%;
	background: rgba(211, 211, 211, .3);
	border-radius: 12px;
	padding: 10px;
	margin-left: 60px;
	font-family: 'Exo 2', sans-serif;
	overflow-y: scroll;
}
.about h2{
	margin: 0;
	margin-left: 10px;
	color: black;
}
.about p{ 
	color: black;
	font-size: 3;
}
.image-avatar{
    position: absolute;
    top: 20%;
    left: 8%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.photograp{
    height:100%;
    width: 50%;
	display: flex;
	position: absolute;
	right: 0;
	top: 10%;
}
.image-g{
	position: relative;
	width: 250px;
	height: 320px;
	border: 1px solid gray;
	background: white;
}
.image-container-top{
    top: 10%;
    right: 0%;
	z-index: 2;
    /*-webkit-*/transform-origin: 50% 50%;
	transform: rotate(-30deg);
}
.image{
	width: 92%;
	height: 80%;
	margin: 10px;
}
.image-container-mid{
    top: 10%;
    right: 35%;
	z-index:1;
	/*-webkit-*/transform-origin: 50% 50%;
	transform: rotate(-45deg); 
}
.image-fond{
	height: 80%;
	margin: 10px;
	padding-bottom: -30px;
	background: black;
}
.experience{
    position: relative;
    grid-area: "experience";
    background-image: url('../images/skills.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.portfolio{
    position: relative;
    grid-area: "portfolio";
    background-image: url('../images/portfolio.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    box-sizing: border-box;
}
.contact{
    position: relative;
    grid-area: "contact";
    background-image: url('../images/contact_SP.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.create{
	display: flex;
	position: relative;
	top: 100px;
	left: 20px;
	font-size: 25px;
}
.create h1{
	background: rgba(38, 38, 38, .5);
	font-family: 'Exo 2', sans-serif;
    color: #d3d3d3;
    font-size: 1.7em;
}
.form{
    position: absolute;
    width: 50%;
	top: 10%;
	right: 5%;	
}
.form-consulta {
	max-width: 100%; 
	background: #eee; 
	padding: 25px;
	padding-top: 20px;
	font-family: 'Exo 2', sans-serif;
	background: rgba(38, 38, 38, .5);
	color: #d3d3d3;
}
.campo-form {
	display: block;
	width:100%; 
	height:36px; 
	margin:2px 0 6px; 
	padding-left:6px; 
	box-sizing: border-box; 
	border-radius:3px; 
	border:0;
	font-family: 'Exo 2', sans-serif;
	font-size:1em;
}
textarea {
	min-height: 150px!important;
}
.btn-form {
	display: inline-block; 
	border:0; 
	background: #444;
	height: 46px; 
	line-height: 46px; 
	padding: 0 20px; 
	border-radius: 6px; 
	color:#fff; 
	text-decoration: none; 
	text-transform: uppercase;
	font-family: 'Exo 2', sans-serif;
	letter-spacing: 1px;
}
.btn-form:hover {
	background: black;
	color: white;
}

}
.navegator{
	height: 110px;
	width: 100vw;
	background: rgba(18, 18, 18, 1);
	color: #d3d3d3;
	font-family: 'Exo 2', sans-serif;
	bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 10;
}
li{
	display: flex;
	height: 98%;
}
.i-ho{
    font-size: larger;
}
.link{
	width: 100px;
	height: 98px;
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #d3d3d3;
}
.link:active{
	border-bottom: white 1px outset;
	-webkit-box-shadow: inset -11px -7px 142px -48px rgba(240,235,240,1);
	-moz-box-shadow: inset -11px -7px 142px -48px rgba(240,235,240,1);
	box-shadow: inset -11px -7px 142px -48px rgba(240,235,240,1);
}
.link-image{
	font-size: 50px;
}
.menu{
	display:flex;
	width: 400px;
	justify-content: center;
}
.footer{
	height: 150px;
	width: 100vw;
	background: rgba(38, 38, 38, 1);
	color: #d3d3d3;
	font-family: 'Exo 2', sans-serif;
	justify-content: center;
	align-items:center;
	position: fixed;
	bottom: -120px;
	left:0;
	z-index: 10;
	transition: .3s;
}
#footer.is-active{
	bottom: 0px;
	left: 0;
	transition: .3s;
}

.footer-ampli{
	display: flex;
	align-items:center;
	justify-content: center;
	width: 40px;
	height: 30px;
	background: black;
}
.footer-interest{
    width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
	margin-left: 10px;
	text-decoration: none;
}
a{
	font-family: 'Exo 2', sans-serif;
	text-decoration: none;
	color: #d3d3d3;
}
a::after{
	content: " | ";
	margin-right: 10px;
	margin-left: 10px;
}
a:last-child:after{
	display: none;
}
.footer-mini{
    width: 100%;
	border-bottom:1px solid rgba(30, 30, 30, 1);
	display: flex;
}
.footer-p{
	height: 100%;
	display: flex;
	justify-content: center;
}
.copiring{
    width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.copiring p{
	display: flex;
	margin: 0;
}
.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0,0,0,.8);
    display: block;
    line-height: 40px; 
    text-align: center; 
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    color: white;
    display: none;
    
}
@media screen and (max-width: 1440px){
	.photograp{
		right: 4%;
	}
	.create{
		width: 500px;
	}
	.create h1{
		display: flex; 
	}
	.portfolioContainer{
		width: 90%;
	}
	.footer-ampli{
		margin-left: 8px;
	}
}
@media screen and (max-width: 1024px){
	.poem{
		width: 600px;
		height: 50%;
	}
	.form{
		right: 3%;	
	}
}
@media screen and (max-width: 768px){
	.header{
		height: 210px;
		width: 50px;
		display: block;
		position: fixed;
		top: 0;
		right: 0;
	}
	.name{
		display: none;
	}
	.social{
		display: block;
		position: fixed;
		top: 5px;
		right: 0;
		margin: 0;
	}
	.burger-button{
		display: block;
	}
	.menu{
		flex-direction: column;
		height: 400px;
	}
	.navegator{
		height: 100%;
		width: 50px;
		left: -100vw;
		top:0;
		background: rgba(18, 18, 18, .6);
		transition: .3s;

	}
	.navegator.is-active{
        left: 0;
    }
	.link{
		width: 50px;
		height: 98px;
		margin-bottom: 15px;
	}
	span{
		display: none;
	}
	
	.link-image{
		font-size: 35px;
	}
	.poem{
		top: 40px;
		left: 15%;
		width: 70%;
		height: 70%;
	}
	.about{
		top: 10px;; 
		left: 5px; 
		box-sizing: border-box;
	}
	.image-g{
		width: 150px; 
		height: 200px; 
	}
	.image-container-top{
		top: 30%;
	}
	.image{
		width: 90%;
		height: 76%;
		margin: 7px; 
	}
	.image-container-mid{
		right: 43%;
	}
	.image-avatar{
		top: 30px;
		left: 75%;
	
	}
	.portfolioContainer{
		width: 700px;
		left: 5px;
		top: 45px;
	}
	.item{
		height: 45%; 
		width: 30%
	}
	.create{
		top: 10px;
		left: 200px;
	}
	.create h1{
		font-size: 1.1em;
	}
	.form{
		top: 90px;
		left: 20%;
	}
	.footer{
		display: none;
	}

}
@media screen and (max-width: 480px){
	.about{
		top: 20%;
		width: 80%;
		left: 0%;
	}
	.portfolioContainer{
		width: 450px;
		height: 600px;
	}
	.create{
		top:100px;
		left: 15px;;
	}
	.form{
		width: 90%;
		top: 240px;
		left: 20px;
	}
}
@media screen and (max-width: 320px){
	
}